.diagonals {
  position: relative;
  background-color: orange;
  overflow: hidden;
  height: 100vh;

  --width: 100vw;
  --full-width: 100vw;

  --angle: -45deg;
  /*-----------------
  Magic Number Alert:

  the 0.09719 is calculated by this formula:
  tan(45°) / 2
  11° is the current skewY value.
  ------------------*/
  --magic-number: 0.05;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));

  .diagonal__wrapper {
	margin-top: -30%;

	&.active {
	  .diagonal-box {
		height: 5%;
		padding: 20px 0;

		.diagonal-bg-text {
		  display: block;
		  top: -55px;
		  font-size: 35px;
		}

		&:not(.active) {
		  .diagonal-bg-text {
			transform: rotate(-45deg) translateY(-30px);
		  }

		  .diagonal-box__title {
			display: none;
		  }

		  &.bg-1 .diagonal-bg-text {
			transform: rotate(-45deg) translateY(-5px) translateX(50px);
		  }

		  &.bg-2 .diagonal-bg-text {
			transform: rotate(-45deg) translateY(-40px) translateX(-296px);
		  }
		}

		&.active {
		  height: 150%;

		  .diagonal-box__content {
			max-width: 600px;
		  }

		  .diagonal-box__description {
			display: block;
		  }
		}
	  }

	  .bg-2:not(.active) {
		.diagonal-bg-text {
		  top: 38%;
		  left: -136%;
		}
	  }

	  .bg-2.active + .bg-3 {
		.diagonal-bg-text {
		  top: -266%;
		  left: 194%;
		}
	  }

	  .bg-3:not(.active) {
		.diagonal-bg-text {
		  left: -277%;
		  top: 134%;
		}
	  }

	  .bg-4:not(.active) {
		.diagonal-bg-text {
		  top: -89%;
		  left: 46%;
		}
	  }

	  .bg.active {
		.diagonal-bg-text {
		  display: none;
		}
	  }
	}
  }

  .btn--back {
	position: absolute;
	left: 35px;
	top: 35px;
  }

  .diagonal-box {
	position: relative;
	padding: var(--skew-padding) 0;
	transform: skewy(var(--angle));
	transform-origin: 50% 0;
	outline: 1px solid transparent;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	height: 30%;

	.diagonal-bg-text {
	  transform: rotate(-45deg);
	  position: absolute;
	  left: 0;
	  top: -55px;
	  right: 0;
	  bottom: 0;
	  font-size: 100px;
	  font-family: 'Intro', sans-serif;
	  font-weight: 700;
	  text-transform: uppercase;
	  -webkit-text-fill-color: transparent;
	  -webkit-text-stroke-width: 2px;
	  -webkit-text-stroke-color: black;
	  -webkit-background-clip: text;
	  background-clip: text;
	  display: none;
	  z-index: -1;
	  text-indent: -80px;
	}

	&:hover {
	  .diagonal-bg-text {
		display: block;
	  }
	}
  }

  .bg {
	background-image: linear-gradient(45deg, #654ea3, #eaafc8);
	color: #f1f1f1;

	&:hover {
	  background-image: linear-gradient(45deg, #a30047, #eaafc8);
	}

	&.active:hover {
	  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
	}
  }

  .bg-1 {
	background-image: linear-gradient(45deg, #654ea3, #eaafc8);
	color: #f1f1f1;

	.diagonal-box__content {
	  left: 10%;
	}

	&.active {
	  .diagonal-box__content {
		left: 17%;
	  }
	}
  }

  .bg-2 {
	.diagonal-box__content {
	  left: 31%;
	}

	&.active {
	  .diagonal-box__content {
		left: 25%;
	  }
	}
  }

  .bg-3 {
	.diagonal-box__content {
	  left: 53%;
	}

	&.active {
	  .diagonal-box__content {
		left: 30%;
	  }
	}
  }

  .bg-4 {
	.diagonal-box__content {
	  left: 75%;
	}

	&.active {
	  .diagonal-box__content {
		left: 35%;
	  }
	}
  }

  .diagonal-box__title {

  }

  .diagonal-box__description {
	display: none;
  }

  .diagonal-box__content {
	position: absolute;
	top: 37%;
	transform: skewy(45deg);
  }
}

.diagonals-1 {
  background-color: #d1d1d1;

  .diagonal-box {
	background-image: linear-gradient(45deg, #d1d1d1, #d1d1d1);
	border-bottom: 1px solid grey;

	&:hover {
	  background-image: none;
	}

	&:first-of-type {
	  border-top: 1px solid grey;
	}
  }

  .diagonal__wrapper {
	margin-top: -20%;
	height: 100%;
	width: 100%;
	position: absolute;
  }

  .container {
	position: absolute;
	max-width: 600px;
	left: 20%;
	top: 15%;
  }

  .title {
	display: flex;
	flex-direction: column;
	font-size: 80px;
	line-height: 1.1;
	font-family: 'Intro', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
	background-size:200% 100%;
	animation: textAnimate 5s  linear;
	animation-iteration-count: 1;
	animation-direction: alternate-reverse;

	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	/*   -webkit-text-stroke-color: black; */
	-webkit-background-clip: text;
	background-clip: text;

	letter-spacing: 2px;



	.title--lg {
	  font-size: 120px;
	}
  }
}

@keyframes textAnimate {
  from {
	background-position: left;
  }
  to {
	background-position: right;
  }
}